/*:root{}*/

body {
    font-family: 'Titilium Web', sans-serif;
}

.card-map{
    max-width:610px;
    


}

.mapa {
    /*height:801px; 
    width:900px;*/
    height:600px; 
    width: 100%;
    Position: relative;
    left:2px;
}

.card-info{
    Position: absolute;
    left:200px;
    top: 20px;
    
}
.info{
    margin-bottom: 30px;

}
.textalert{
    color:red;
    margin-left: 20px;
     font-weight: bold;
     border: black;
    
}
.card-container{
    Position: absolute;
    left:660px;
    top: 60px;
    /*background: rgb(227, 227, 227);*/

}
.checkbox-container{
    display:block;
    Position: relative;
    cursor:pointer;
    margin-top: 15px;


}
.btn{
    height: 30px;
    width: 300px;
    margin-top: 5px;

}
.btnb{
    margin-top: 15px;
    height: 25px;
    width: 90px;

    
    
}
/*.checkbox {

    Position: relative;

}

.txtcheckbox {
    position: relative;
    

}*/

.textbox {

    Position: relative;
    
}
